# CA1 Data Visualisation Assignment [Part A]

- Name: Jaysoorya Rajendran
- Admin Number: P2309024
- Class: DAAA/FT/2A/01

# Reading the Datasets

In [211]:
import pandas as pd

Course_Codes = pd.read_excel('Course Codes.xlsx')
Student_Profiles = pd.read_excel('Student Profiles.xlsx')

## Viewing Course Codes Dataset

In [212]:
Course_Codes

   CourseCode                           CourseName
0        1101   Diploma in Business Administration
1        1102        Diploma in Business Analytics
2        2101         Certificate in HR Management
3        2102     Certificate in Digital Marketing
4        2013    Certificate in Tourism Management
5        5112  Bachelor of Business Administration
6        5113    Master of Business Administration

# Viewing Student Profiles Dataset

In [213]:
Student_Profiles.head(20)

,STUDENT ID,SALUTATION,GENDER,NATIONALITY,LOCAL,FOREIGN,DOB,HIGHEST QUALIFICATION,NAME OF QUALIFICATION AND INSTITUTION,DATE ATTAINED HIGHEST QUALIFICATION,DESIGNATION,INTAKE NO,COMMENCEMENT DATE,COMPLETION DATE,FULL-TIME OR PART-TIME,COURSE FUNDING,REGISTRATION FEE,PAYMENT MODE,COURSE FEE,GPA
0,2020/1101-013/001,Ms,F,Singaporean,Y,,04/03/1978,Certificate,"Certificate in Office Skills, ITE",2016-11-06,"Snr Associate, Client Services",13th,2020-01-06,2021-04-06 00:00:00,Part-Time,Individual - SFC,107,NETS,1712,3.0
1,2020/1101-013/002,Ms,F,Singaporean,Y,,23/03/1966,Certificate,"WSQ Higher Certificate in Human Resources, WPL...",2018-02-06,Admin Officer,13th,2020-01-06,2021-04-06 00:00:00,Part-Time,Individual,107,NETS,1712,2.5
2,2020/1101-013/003,Ms,F,Singaporean,Y,NaN,04/12/1988,Certificate,"Nitec in Service Skills (Office), ITE",2016-11-06,Admin Assistant,13th,2020-01-06,2021-04-06 00:00:00,Part-Time,Sponsored - no SDF,107,CC JPM,1712,2.0
3,2020/1101-014/004,Ms,F,Singaporean,Y,NaN,27/11/1991,Degree,Bachelor Science (Facilities & Events Manageme...,2017-06-10,HR Administrator,14th,2020-03-10,2021-06-09 00:00:00,Part-Time,Individual - SFC,107,NETS,1212,2.5
4,2020/1101-014/005,Ms,F,Singaporean,Y,,23/04/1985,Diploma,"Diploma in Procurement and Supply Management, ...",2016-08-10,Purchasing Executive,14th,2020-03-10,2021-06-09 00:00:00,Part-Time,Individual - SFC,107,NETS,1712,2.4
5,2020/1101-014/006,Ms,F,Malaysian (PR),,Y,15/03/1981,Certificate,"Certificate in Payroll Administration, SHRI Ac...",2016-08-10,HR Executive,14th,2020-03-10,2021-06-09 00:00:00,Part-Time,Sponsored,107,GIRO,1604,1.8
6,2020/1101-014/008,Ms,F,Chinese,,Y,21/01/1994,Master,"Master of Public Administration, San Jose Stat...",2018-03-10,PR Executive,14th,2020-03-10,2021-06-09 00:00:00,Part-Time,Individual,107,Cr Card,1712,3.0
7,2020/1101-015/009,Ms,F,Singaporean,Y,NaN,09/07/1975,Degree,"Bachelor of Science in Business & Mgt Studies,...",2017-12-06,HR Executive,15th,2020-07-06,2021-10-05 00:00:00,Part-Time,Individual - SFC,107,Giro,1712,2.5
8,2020/1101-015/010,Ms,F,Singaporean,Y,NaN,09/06/1977,Degree,"Bachelor of Business (Advertising), Queensland...",2018-10-06,-,15th,2020-07-06,2021-10-05 00:00:00,Part-Time,Individual - SFC,107,Giro,1712,2.2
9,2020/1101-015/011,Ms,F,Singaporean,Y,NaN,05/12/1991,Diploma,"Diploma in Environmental Science, Republic Pol...",2016-09-06,-,15th,2020-07-06,2021-10-05 00:00:00,Part-Time,Individual,107,Giro,1712,3.1
10,2020/1101-016/012,Ms,F,Singaporean,Y,NaN,19/07/1983,Degree,"Bachelor of Arts in Accounting, University of ...",2017-11-01,Accounts cum HR Executive,16th,2020-09-01,2021-11-30 00:00:00,Part-Time,Individual,107,Giro,1712,2.6
11,2020/1101-016/013,Ms,F,Singaporean,Y,NaN,02/10/1989,Degree,"Bachelor of Science (Business Management), Uni...",2019-08-01,-,16th,2020-09-01,2021-11-30 00:00:00,Part-Time,Individual - SFC,107,Giro,1712,4.0
12,2020/1101-016/014,Ms,F,Singaporean,Y,NaN,05/03/1996,Certificate,N level,2017-09-01,Admin & HR Executive,16th,2020-09-01,2021-11-30 00:00:00,Part-Time,Sponsored,107,Giro,1604,3.2
13,2020/1101-017/015,Ms,F,Singaporean,Y,NaN,27/08/1994,Diploma,"Diploma in Events Management, Kaplan",2018-11-02,HR Assistant,17th,2020-11-02,2022-02-02 00:00:00,Part-Time,Sponsored,107,SMBC 278451,1604,3.0
14,2020/1101-017/016,Ms,F,Singaporean,Y,NaN,27/01/1980,Diploma,"Diploma in Hotel Management, SHATEC",2019-01-02,Rooms Division Manager,17th,2020-11-02,2022-02-02 00:00:00,Part-Time,Individual - SFC,107,Giro,1712,2.9
15,2020/1101-017/017,Ms,F,Singaporean,Y,NaN,16/04/1995,Diploma,"Diploma in Healthcare Administration, Republic...",2018-04-02,"HR Associate, Southeast Asia",17th,2020-11-02,2022-02-02 00:00:00,Part-Time,Sponsored,107,Giro,1604,3.4
16,2020/1101-017/018,Ms,F,Singaporean,Y,NaN,18/06/1983,Certificate,N level,2018-01-02,-,17th,2020-11-02,2022-02-02 00:00:00,Part-Time,Individual - SFC,107,Giro,1712,3.3
17,2020/1101-017/019,Ms,F,Singaporean,Y,NaN,06/01/1989,Degree,"Bachelor of Science in Business, UOL",2016-12-02,Administrative Executive,17th,2020-11-02,2022-02-02 00:00:00,Part-Time,Sponsored,107,Giro,1604,1.8
18,2019/1101-007/001,Ms,F,Malaysian,,Y,13/09/1981,Certificate,SPM,2018-01-08,Admin & HR Assistant,7th,2019-01-08,2020-04-07 00:00:00,Part-Time,Individual,107,GIRO,1712,3.2
19,2019/1101-007/002,Ms,F,Singaporean,Y,NaN,26/07/1979,Certificate,"Certificate in Office Skills, ITE",2016-06-08,Admin Assistant,7th,2019-01-08,2020-04-07 00:00:00,Part-Time,Individual-SFC,107,NETS,1712,3.1

# Data Wrangling

## Student Profile Wrangling

In [214]:
Student_Profiles

,STUDENT ID,SALUTATION,GENDER,NATIONALITY,LOCAL,FOREIGN,DOB,HIGHEST QUALIFICATION,NAME OF QUALIFICATION AND INSTITUTION,DATE ATTAINED HIGHEST QUALIFICATION,DESIGNATION,INTAKE NO,COMMENCEMENT DATE,COMPLETION DATE,FULL-TIME OR PART-TIME,COURSE FUNDING,REGISTRATION FEE,PAYMENT MODE,COURSE FEE,GPA
0,2020/1101-013/001,Ms,F,Singaporean,Y,,04/03/1978,Certificate,"Certificate in Office Skills, ITE",2016-11-06,"Snr Associate, Client Services",13th,2020-01-06,2021-04-06 00:00:00,Part-Time,Individual - SFC,107,NETS,1712,3.0
1,2020/1101-013/002,Ms,F,Singaporean,Y,,23/03/1966,Certificate,"WSQ Higher Certificate in Human Resources, WPL...",2018-02-06,Admin Officer,13th,2020-01-06,2021-04-06 00:00:00,Part-Time,Individual,107,NETS,1712,2.5
2,2020/1101-013/003,Ms,F,Singaporean,Y,NaN,04/12/1988,Certificate,"Nitec in Service Skills (Office), ITE",2016-11-06,Admin Assistant,13th,2020-01-06,2021-04-06 00:00:00,Part-Time,Sponsored - no SDF,107,CC JPM,1712,2.0
3,2020/1101-014/004,Ms,F,Singaporean,Y,NaN,27/11/1991,Degree,Bachelor Science (Facilities & Events Manageme...,2017-06-10,HR Administrator,14th,2020-03-10,2021-06-09 00:00:00,Part-Time,Individual - SFC,107,NETS,1212,2.5
4,2020/1101-014/005,Ms,F,Singaporean,Y,,23/04/1985,Diploma,"Diploma in Procurement and Supply Management, ...",2016-08-10,Purchasing Executive,14th,2020-03-10,2021-06-09 00:00:00,Part-Time,Individual - SFC,107,NETS,1712,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,2019/5113-007/005,Ms,F,Singaporean,Y,NaN,01/10/1973,Degree,Bachelor of Commerce (Accounting and Finance)/...,2017-11-05,"Head, Registry & Corp Admin",7th,2019-07-05,2020-01-04 00:00:00,Part-Time,Individual,107,Nets,5803,2.9
240,2019/5113-007/006,Ms,F,Indonesian (PR),Y,NaN,30/09/1982,Degree,Bachelor of Economics (Accounting)/\nUniversit...,2016-05-05,Finance Officer,7th,2019-07-05,2020-01-04 00:00:00,Part-Time,Individual,107,Nets,5803,2.0
241,2019/5113-006/003,Ms,F,Singaporean,Y,NaN,06/03/1990,Degree,Bachelor of Science in Hotel Administration (H...,2015-06-08,HR Assistant,6th,2019-03-08,2019-09-07 00:00:00,Part-Time,Individual,107,Nets,5803,2.8
242,2019/5113-005/001,Ms,F,Singaporean,Y,NaN,14/11/1981,Degree,Bachelor of Arts with Second Class Honours (Lo...,2014-08-04,Household Goods Coordinator,5th,2019-01-04,2019-07-03 00:00:00,Part-Time,Individual,107,Nets,5803,1.9
243,2019/5113-005/002,Ms,F,Singaporean,Y,NaN,28/01/1983,Degree,Bachelor of Business (Business Administration)...,2016-10-04,"Assistant Director, Human Resources",5th,2019-01-04,2019-07-03 00:00:00,Part-Time,Individual,107,Nets,5803,2.9

### Student ID Column

In [215]:
print(f"Unique Student IDS: {Student_Profiles['STUDENT ID'].unique().size}")

Unique Student IDS: 244

### Salutation Column

In [216]:
salutations = Student_Profiles['SALUTATION']

# Count the occurrences of each value
salutation_counts = salutations.value_counts()

# Print the common values
print("Common values in the 'SALUTATION' column:")
print(salutation_counts)

# Addressing the issue found

# Replace "Mr " with "Mr" in the 'Salutation' column
Student_Profiles['SALUTATION'] = Student_Profiles['SALUTATION'].str.replace('Mr ', 'Mr')

salutations = Student_Profiles['SALUTATION']

# Count the occurrences of each value
salutation_counts = salutations.value_counts()

# Print the common values
print("After addressing the issue:\n\n")
print("Common values in the 'SALUTATION' column:")
print(salutation_counts)

Common values in the 'SALUTATION' column:
SALUTATION
Ms     214
Mr      27
Mr       2
Mrs      1
Name: count, dtype: int64
After addressing the issue:


Common values in the 'SALUTATION' column:
SALUTATION
Ms     214
Mr      29
Mrs      1
Name: count, dtype: int64

### Gender Column

In [217]:
genders = Student_Profiles['GENDER']

# Count the occurrences of each value
genders_count = genders.value_counts()

# Print the common values
print("Common values in the 'GENDER' column:")
print(genders_count)

Common values in the 'GENDER' column:
GENDER
F    215
M     29
Name: count, dtype: int64

### Nationality Column

In [218]:
nationalities = Student_Profiles['NATIONALITY']

# Count the occurrences of each value
nationalities_count = nationalities.value_counts()

# Print the common values
print("Common values in the 'NATIONALITIES' column:")
print(nationalities_count)

Common values in the 'NATIONALITIES' column:
NATIONALITY
Singaporean         189
Malaysian (PR)       14
Malaysian             8
Filipino              6
Indian (PR)           5
Chinese (PR)          5
Indian                3
Chinese               2
Myanmar               2
Indian                1
Netherlands           1
Malaysian             1
Filipino (PR)         1
Vietnamese            1
Indian                1
China (PR)            1
Malaysian(PR)         1
Chinese\n(China)      1
Indonesian (PR)       1
Name: count, dtype: int64

In [219]:
# Get the 'NATIONALITY' column
nationalities = Student_Profiles['NATIONALITY']

# Filter for entries where the nationality is exactly "Indian"
exact_indian_nationalities = nationalities[nationalities == "Indian"]

# Count the occurrences of each value
nationalities_count = exact_indian_nationalities.value_counts()

# Print the common values
print("Exact 'Indian' Values in the 'NATIONALITY' column:")
print(nationalities_count)

Exact 'Indian' Values in the 'NATIONALITY' column:
NATIONALITY
Indian    3
Name: count, dtype: int64

- From this, we can say that the value "Indian" having duplicates doesn't matter.

In [220]:
# Replace 'Chinese\n(China)' with 'Chinese (PR)'
Student_Profiles['NATIONALITY'] = Student_Profiles['NATIONALITY'].replace('Chinese\n(China)', 'Chinese (PR)')

# Replace 'Malaysian(PR)' with 'Malaysian (PR)'
Student_Profiles['NATIONALITY'] = Student_Profiles['NATIONALITY'].replace('Malaysian(PR)', 'Malaysian (PR)')


nationalities = Student_Profiles['NATIONALITY']

# Count the occurrences of each value
nationalities_count = nationalities.value_counts()

# Print the common values
print("Common values in the 'NATIONALITIES' column:")
print(nationalities_count)

Common values in the 'NATIONALITIES' column:
NATIONALITY
Singaporean        189
Malaysian (PR)      15
Malaysian            8
Filipino             6
Chinese (PR)         6
Indian (PR)          5
Indian               3
Chinese              2
Myanmar              2
Netherlands          1
Malaysian            1
Indian               1
Filipino (PR)        1
Vietnamese           1
Indian               1
China (PR)           1
Indonesian (PR)      1
Name: count, dtype: int64

### Local Column

In [221]:
locals = Student_Profiles['LOCAL']

# Count the occurrences of each value
locals_count = locals.value_counts()

# Print the common values
print("Common values in the 'LOCAL' column:")
print(locals_count)

Common values in the 'LOCAL' column:
LOCAL
Y    205
      24
Name: count, dtype: int64

In [222]:
numberOf = Student_Profiles['NATIONALITY'].str.contains('(PR)') & (Student_Profiles['LOCAL'] == 'Y')
# Update the 'LOCAL' column for these rows to 'N'
Student_Profiles.loc[numberOf, 'LOCAL'] = 'N'

# Replace missing values (empty strings) with 'No'
Student_Profiles['LOCAL'] = Student_Profiles['LOCAL'].replace(' ', 'N')

locals = Student_Profiles['LOCAL']

# Count the occurrences of each value
locals_count = locals.value_counts()

# Print the common values
print("Common values in the 'LOCAL' column:")
print(locals_count)

Common values in the 'LOCAL' column:
LOCAL
Y    191
N     38
Name: count, dtype: int64

C:\Users\jsoor\AppData\Local\Temp\ipykernel_7916\1230698570.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  numberOf = Student_Profiles['NATIONALITY'].str.contains('(PR)') & (Student_Profiles['LOCAL'] == 'Y')

### Foreign Column

In [223]:
# Drop the 'FOREIGN' column from the DataFrame
Student_Profiles.drop(columns=['FOREIGN'], inplace=True)

### DOB Column

In [224]:
print("Number of missing values in the 'DOB' column:")
print(Student_Profiles['DOB'].isna().sum())
print('\n')
DOBs = Student_Profiles['DOB']

# Count the occurrences of each value
DOB_count = DOBs.value_counts()

# Print the common values
print("Common values in the 'DOB' column:")
print(DOB_count)

Number of missing values in the 'DOB' column:
0


Common values in the 'DOB' column:
DOB
30/11/1983    2
31/10/1984    2
19/10/1967    2
08/06/1981    2
18/04/1992    2
             ..
11/11/1992    1
09/11/1985    1
26/08/1989    1
17/12/1980    1
28/01/1983    1
Name: count, Length: 236, dtype: int64

In [225]:
# Some of the data in the DOB column are in the wrong format

# Function to convert date formats
def convert_date_format(date_str):
    for fmt in ('%d-%b-%Y', '%d-%m-%Y', '%d/%m/%Y'):
        try:
            return pd.to_datetime(date_str, format=fmt).strftime('%d/%m/%Y')
        except ValueError:
            continue

# Apply the function to the 'DOB' column
Student_Profiles['DOB'] = Student_Profiles['DOB'].apply(convert_date_format)

### Highest Qualification Column

In [226]:
print(Student_Profiles['HIGHEST QUALIFICATION'].str.contains(' ').sum())
quals = Student_Profiles['HIGHEST QUALIFICATION']

# Count the occurrences of each value
quals_count = quals.value_counts()

# Print the common values
print("Common values in the 'HIGHEST QUALIFICATION' column:")
print(quals_count)

4
Common values in the 'HIGHEST QUALIFICATION' column:
HIGHEST QUALIFICATION
Degree                           104
Certificate                       69
Diploma                           56
Master                            11
Graduate Diploma                   1
                                   1
Postgraduate Diploma               1
Postgraduate Diploma/\nDegree      1
Name: count, dtype: int64

In [227]:
# Define the mapping for the replacements
qualification_replacements = {
    'Postgraduate Diploma': 'Master',
    'Postgraduate Diploma/\nDegree': 'Master'
}

# Replace the values in the 'HIGHEST QUALIFICATION' column
Student_Profiles['HIGHEST QUALIFICATION'].replace(qualification_replacements, inplace=True)

# Replace empty strings with "N.A"
Student_Profiles['HIGHEST QUALIFICATION'].replace(' ', 'N.A', inplace=True)


# Verify the changes
print("Common values in the 'HIGHEST QUALIFICATION' column after replacements:")
print(Student_Profiles['HIGHEST QUALIFICATION'].value_counts())

Common values in the 'HIGHEST QUALIFICATION' column after replacements:
HIGHEST QUALIFICATION
Degree              104
Certificate          69
Diploma              56
Master               13
Graduate Diploma      1
N.A                   1
Name: count, dtype: int64

### Name Of Qualification And Institution Column

In [228]:
# Count the number of exact empty string values in the 'NAME OF QUALIFICATION AND INSTITURE' column
num_empty_values = (Student_Profiles['NAME OF QUALIFICATION AND INSTITUTION'] == ' ').sum()

# Print the number of empty string values
print(f"Number of exact empty string values in the 'NAME OF QUALIFICATION AND INSTITUTION' column: {num_empty_values}")

# Count the number of exact empty string values in the 'NAME OF QUALIFICATION AND INSTITURE' column
num_dash_values = (Student_Profiles['NAME OF QUALIFICATION AND INSTITUTION'] == '-').sum()

# Print the number of empty string values
print(f"Number of exact - values in the 'NAME OF QUALIFICATION AND INSTITUTION' column: {num_dash_values}")



# Replace empty strings with "N.A"
Student_Profiles['NAME OF QUALIFICATION AND INSTITUTION'].replace(' ', 'N.A', inplace=True)
# Replace empty strings with "N.A"
Student_Profiles['NAME OF QUALIFICATION AND INSTITUTION'].replace('-', 'N.A', inplace=True)

# Count the number of exact empty string values in the 'NAME OF QUALIFICATION AND INSTITURE' column
num_empty_values = (Student_Profiles['NAME OF QUALIFICATION AND INSTITUTION'] == ' ').sum()

# Print the number of empty string values
print(f"Number of exact empty string values in the 'NAME OF QUALIFICATION AND INSTITUTION' column after changing to N.A: {num_empty_values}")


# Count the number of exact empty string values in the 'NAME OF QUALIFICATION AND INSTITURE' column
num_dash_values = (Student_Profiles['NAME OF QUALIFICATION AND INSTITUTION'] == '-').sum()

# Print the number of empty string values
print(f"Number of exact - values in the 'NAME OF QUALIFICATION AND INSTITUTION' column after changing to N.A: {num_dash_values}")

Number of exact empty string values in the 'NAME OF QUALIFICATION AND INSTITUTION' column: 2
Number of exact - values in the 'NAME OF QUALIFICATION AND INSTITUTION' column: 1
Number of exact empty string values in the 'NAME OF QUALIFICATION AND INSTITUTION' column after changing to N.A: 0
Number of exact - values in the 'NAME OF QUALIFICATION AND INSTITUTION' column after changing to N.A: 0

### Date Attained Highest Qualification Column

In [229]:
# Check for missing values
print(Student_Profiles['DATE ATTAINED HIGHEST QUALIFICATION'].isna().sum())

0

### Designation Column

In [230]:
# Count the occurrences of '-' values in the 'DESIGNATION' column
designation_dash_count = (Student_Profiles['DESIGNATION'] == '-').sum()

# Print the count
print("Number of '-' values in the 'DESIGNATION' column:")
print(designation_dash_count)

Number of '-' values in the 'DESIGNATION' column:
36

In [231]:
# Replace '-' values in the 'DESIGNATION' column with 'N.A'
Student_Profiles['DESIGNATION'] = Student_Profiles['DESIGNATION'].replace('-', 'N.A')

# Count the occurrences of '-' values in the 'DESIGNATION' column
designation_dash_count = (Student_Profiles['DESIGNATION'] == '-').sum()

# Print the count
print("Number of '-' values in the 'DESIGNATION' column:")
print(designation_dash_count)

Number of '-' values in the 'DESIGNATION' column:
0

### Intake No Column

In [232]:
# Check for missing values
print(Student_Profiles['INTAKE NO'].isna().sum())

0

### Commencement Date Column

In [233]:
# Check for missing values
print(Student_Profiles['COMMENCEMENT DATE'].isna().sum())

0

### Completion Date Column

In [234]:
# Check for missing values
print(Student_Profiles['COMPLETION DATE'].isna().sum())

0

### Full Time or Part Time Column

In [235]:
Student_Profiles = Student_Profiles.drop(columns=['FULL-TIME OR PART-TIME'])

### Course Funding Column

In [236]:
print(Student_Profiles['COURSE FUNDING'].unique())

['Individual - SFC' 'Individual' 'Sponsored - no SDF' 'Sponsored'
 'Individual   ' 'Individual ' 'Individual-SFC' 'Sponsored '
 'Individual - waived App Fee' 'Individual - SFC + $1000 SCHOLARSHIP'
 'Indivodual' 'Sponsored   ' 'Individual  ' 'Sponsored  '
 'Sponsored-no SDF' 'Indvidual - SFC' 'Sponsored - SDF']

In [237]:
course_replacements = {
    'Individual   ': 'Individual',
    'Sponsored   ': 'Sponsored',
    'Indivodual': 'Individual',
    'Individual ': 'Individual',
    'Sponsored ': 'Sponsored',
    'Individual  ': 'Individual',
    'Sponsored  ': 'Sponsored',
    'Sponsored-no SDF': 'Sponsored - no SDF',
    'Indvidual - SFC': 'Individual - SFC',
    'Individual-SFC': 'Individual - SFC'
}

# Replace the values
Student_Profiles['COURSE FUNDING'].replace(course_replacements, inplace=True)

In [238]:
print(Student_Profiles['COURSE FUNDING'].unique())

['Individual - SFC' 'Individual' 'Sponsored - no SDF' 'Sponsored'
 'Individual - waived App Fee' 'Individual - SFC + $1000 SCHOLARSHIP'
 'Sponsored - SDF']

### Registration Fee Column

In [240]:
print("Before Removing: ")
print(Student_Profiles['REGISTRATION FEE'].unique())

# Replace the value
Student_Profiles['REGISTRATION FEE'].replace({'107\n107': 107}, inplace=True)
print('\n')
print("After Removing: ")
print(Student_Profiles['REGISTRATION FEE'].unique())

Before Removing:
[107 'Waived']


After Removing:
[107 'Waived']

### Payment Mode Column

In [241]:
print(Student_Profiles['PAYMENT MODE'].unique())

['NETS' 'CC JPM' 'GIRO' 'Cr Card' 'Giro' 'SMBC 278451' 'CITI 067168'
 'MBB 000023' 'SCB 726231' 'OCBC 006258' 'Nets\nNets*' 'Nets'
 'OCBC 000385' 'POSB 743523' 'OCBC 484773' 'UOB 042724' 'DBS 346889'
 'UOB 480958' 'UOB 000073' 'UOB Cr Card - 12 months' 'Waived'
 'OCBC 923215' 'DBS 002211']

## Exploratory Data Analysis

- **STUDENT ID Column**: No mistakes identified in this column - Each Student had their own unique Student ID
  - **Action Taken**: None

- **SALUTATION Column**: 2 values were set to "Mr " instead of "Mr"
  - **Action Taken**: Replaced the string values of "Mr " to "Mr"

- **GENDER Column**: No mistakes identified in this column - There were only 2 genders, M or F and no missing values
  - **Action Taken**: None

- **NATIONALITY Column**: There were many duplicate nationalities like China or Indian, also there were many values with (PR) in it which corresponded with the next 2 columns, Local and Foreign
  - **Action Taken**: Decided to keep the "Indian" Duplicates as is as they didnt affect my analysis. Changed "Chinese\nChina" to 'Chinese (PR)' as it seems like this person is from China. Changes 'Malaysia(PR)' to 'Malaysia (PR)'

- **LOCAL Column**: There were many missing values and some of the people were wrongfully assigned to Local
  - **Action Taken**: Replace the missing values with N and changed the local values

- **FOREIGN Column**: This column was uneccessary 
  - **Action Taken**: Removed the column
  
- **DOB Column**: Some of the values were in the incorrect format
  - **Action Taken**: Changed them to the correct format

- **HIGHEST QUALIFICATION Column**: There were some weird values and 1 empty value, but keep Graduate Diploma as its a different thing
  - **Action Taken**: Replaced the empty value with None and changed the weird values into existing valeus

- **NAME OF QUALIFICATION AND INSTITUTION Column**: Found 2 empty strings and 1 '-' value
  - **Action Taken**: Replaced their values with N.A

- **DATE ATTAINED HIGHEST QUALIFICATION Column**: No Issues Found
  - **Action Taken**: None

- **DESIGNATION**: Many of the values that did not have an assignment was set to '-'
  - **Action Taken**: Change these values for N.A for better clarification

- **INTAKE NO Column**: No Issues Found
  - **Action Taken**: None

- **COMMENCEMENT DATE Column**: No Issues Found
  - **Action Taken**: None

- **COMPLETION DATE Column**: No Issues Found
  - **Action Taken**: None

- **FULL-TIME OR PART-TIME Column**: This column was uneccessary as it was all part time
  - **Action Taken**: Remove the column

- **Course Funding Column**: Alot of spelling and format errors
  - **Action Taken**: Fixed them by replacing them